body{
    background-color: rgb(240, 255, 242);
}

#cs{
    font-size: 40px;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: bold;
    background-color: rgb(254, 255, 240);
    padding: 10px;
    margin: 30px;
    margin-left: 300px;
    margin-right: 300px;
    border: solid rgb(56, 173, 78);
    border-radius: 20px;
}

#gl{
    height: 200px;
    width: 200px;
    margin: 5px 30px;
}
.nav{
    vertical-align: middle;
}
.gll{
    font-size: 35px;
}

hr{
    position: relative;
        top: 20px;
        border: none;
        height: 3px;
        background: black;
        margin-bottom: 50px;
}

li{
    background-color: rgb(253, 112, 112);
    padding-bottom: 20px;
}

b{
    font-size: 20px;
}

h4{
    font-size: 28px;
}

.s{
    font-style:italic;
    font-weight: bold;
}